$primary-text-color: #425466;
$secondary-text-color: #0a2540;
$primary-background:#f4f7fa;
$primary-darker-background: #f4f4f4;
$light-text: #f4f4f4;
$secondary-background: #635BFF;
$light-background: #ffffff;
$text-alternative-color: #0a2e65;
$hover-active-bg-color: rgba(0,102,245,.07);
$hover-active-text-color: #0066f5;