$primary-text-color: #425466;
$secondary-text-color: #0a2540;
$primary-background: #f8f8f8;
$primary-darker-background: #f4f4f4;
$light-text: #f4f4f4;
$secondary-background: #635BFF;
$light-background: #ffffff;
