$desktop-width: 1440px;
$laptop-width: 1366px;
$laptop-small-width: 1200px;
$tablet-large-width: 1024px;
$tablet: 992px;
$tablet-min-width: 880px;
$tablet-small-width: 768px;
$mobile-large-width: 611px;
$mobile: 576px;
$mobile-width: 414px;
$min-resolution: 320px;
